<html>
<head>
    <title>Best steps counter!</title>
    <script type="text/javascript" src="/static/update.js"></script>
    <link href="static/store.css" rel="stylesheet">
</head>

<body>
    <h1>Steps counter:</h1>
    <h3>Add new day:</h3>
    <form>
        <div>
            <input type="number" name="steps" id="steps">
            <label for="steps">Steps </label>
        </div>
        <div>
            <input type="text" name="date" id="date">
            <label for="date"> Date </label>
        </div>
        <button onClick="addProduct()">Add</button>
        <button onClick="Clear()">Clear</button>
    </form>
    <ul>
        {% for product in products_list %}
        <li>
            <div>
                <div>Дата:{{ product['date'] }}</div>
                <div>Шаги:{{ product['steps'] }}</div>

            </div>
        </li>

        {% endfor %}

    </ul>
    <h3> All steps: {{total_steps2}}</h3>
</body>
</html>